[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/OpenStickCommunity/tinyusb.git
[submodule "lib/pico_pio_usb"]
	path = lib/pico_pio_usb
	url = https://github.com/OpenStickCommunity/Pico-PIO-USB.git
	branch = dev
[submodule "submodules/Pico_AnalogJoystick"]
	path = submodules/Pico_AnalogJoystick
	url = https://github.com/HirtusHeterogomphus/Pico_AnalogJoystick
[submodule "submodules/Pico_LSM6DS3"]
	path = submodules/Pico_LSM6DS3
	url = https://github.com/HirtusHeterogomphus/Pico_LSM6DS3
